[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-mock = "*"
pytest-repeat = "*"
pytest-testmon = "*"
pytest-json-report = "*"
pytest-rerunfailures = "*"
pytest-dependency = "*"
requests = "*"
pytest-cov = "*"
"rpi.gpio" = "*"

[dev-packages]

[requires]
python_version = "3.7"
